:root {
	--container-size: 1065px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.animate-paused {
		animation-play-state: paused;
	}
}

body {
	@apply bg-mainBackground text-mainText;
}

.font-montserrat {
	font-family: var(--font-montserrat);
}

.font-nunitoSans {
	font-family: var(--font-nunitoSans);
}
.container {
	max-width: var(--container-size);
	margin: 0 auto;
}
