@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.animate-paused {
		animation-play-state: paused;
	}
}

body {
	@apply bg-mainBackground text-mainText;
}

.font-montserrat {
	font-family: var(--font-montserrat);
}

.font-nunitoSans {
	font-family: var(--font-nunitoSans);
}

.container {
	max-width: 1065px;
	margin: 0 auto;
}

.border-animation-top::before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	opacity: 0.5;
	z-index: -10;
	width: 100%;

	height: 1px;
	animation: animate_border_top 20s linear infinite;
}
.border-animation-top::after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	opacity: 0.5;
	z-index: -10;
	width: 100%;

	height: 1px;
	animation: animate_border_top 20s linear infinite;
	animation-delay: 10s;
}

@keyframes animate_border_top {
	0% {
		transform: translateX(300%);
		background: linear-gradient(
			to left,
			transparent,
			rgba(128, 81, 248, 1)
		);
	}
	100% {
		transform: translateX(-300%);
		background: linear-gradient(to left, transparent, rgba(0, 148, 199, 1));
	}
}

.border-animation-left::before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	opacity: 0.5;
	width: 1px;
	z-index: -10;
	height: 150%;
	animation: animate_border_left 20s linear infinite;
	/* animation-delay: 1s; */
}

.border-animation-left::after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	opacity: 0.5;
	width: 1px;
	z-index: -10;
	height: 150%;
	animation: animate_border_left 20s linear infinite;
	animation-delay: 10s;
}

@keyframes animate_border_left {
	0% {
		transform: translateY(300%);
		background: linear-gradient(to top, transparent, rgba(128, 81, 248, 1));
	}
	100% {
		transform: translateY(-300%);
		background: linear-gradient(to top, transparent, rgba(0, 148, 199, 1));
	}
}
